<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>PGSuper&trade; Master Library and Project Templates Information</title>
</head>
<body>
<img
 style="width: 273px; height: 43px; font-family: Helvetica,Arial,sans-serif;"
 alt="Washington State Department of Transportation"
 src="WSDOTLogoGreen.png"><br
 style="font-family: Helvetica,Arial,sans-serif;">
<br style="font-family: Helvetica,Arial,sans-serif;">
<h1 style="font-family: Helvetica,Arial,sans-serif;">PGSuper&trade;
Master Library and Project Templates Information<br>
</h1>

<h2 style="font-family: Helvetica,Arial,sans-serif;">WSDOT</h2>
<span style="font-family: Helvetica,Arial,sans-serif;">This
library and templates package implements the practices and policies of
the WSDOT </span><a style="font-family: Helvetica,Arial,sans-serif;"
 href="http://www.wsdot.wa.gov/eesc/bridge" target="_blank">Bridge
and Structures Office</a><span
 style="font-family: Helvetica,Arial,sans-serif;"> as
defined in the WSDOT </span><a
 style="font-family: Helvetica,Arial,sans-serif;"
 href="http://www.wsdot.wa.gov/Publications/Manuals/M23-50.htm"
 target="_blank">Bridge Design Manual</a><span
 style="font-family: Helvetica,Arial,sans-serif;">.
&nbsp;Use this when designing precast-prestressed girder bridges
for the Washington State Department of Transportation.</span><br
 style="font-family: Helvetica,Arial,sans-serif;">
<dl>
<dt>March 15, 2011</dt>
<dd>Updated Project Criteria. Creep and Camber Tab, changed minimum time from prestress transfer until temporary strand removal/diaphragm casting from 30 days to 10 days. This is consistent with the WSDOT BDM and Standard Specifications</dd>
</dl>

<h2 style="font-family: Helvetica,Arial,sans-serif;">AASHTO
Standard Girders from PCI BDM</h2>
<span style="font-family: Helvetica,Arial,sans-serif;">This
library and templates package is based on the&nbsp;<a
 href="http://www.pci.org" target="_blank">Precast-Prestressed
Concrete Institute</a> Bridge Design
Manual. The PCI-BDM does not provide complete information for girder
definition, traffic barriers, project criteria, etc. Much of data in
the libraries is based on engineering experience and practices at
WSDOT, however the project criteria reflects the AASHTO LRFD Bridge
Design Specifications. This library is neither created by nor endorsed
by <a href="http://www.transportation.org/" target="_blank">AASHTO</a>.</span>
</body>
</html>
