<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <?include Variables.wxi?>
   <?include PGSuperCATID.wxi?>

   <?define PGSuperIBeamFactoryCATID={431AE25F-0D66-4436-A9B9-9B1DF0CC223C}?>
   <?define PGSuperUBeamFactoryCATID={1ECF2C84-3442-422b-B7C0-A68F9D14F2B6}?>
   <?define PGSuperDeckBulbTeeBeamFactoryCATID={E63C9BEF-3239-4093-A9B3-E93BB9F2C084}?>
   <?define PGSuperDeckedSlabBeamFactoryCATID={9F841D9B-EEBC-4987-A1A5-B14458C81B31}?>
   <?define PGSuperBoxBeamFactoryCATID={FABF69B6-C816-455f-B417-C8ED7448FC5F}?>
   <?define PGSuperRibbedBeamFactoryCATID={E797CCCB-62EE-4c48-AC2F-E4D559E268AC}?>
   <?define PGSuperDoubleTeeBeamFactoryCATID={891B0FE5-DDE6-470a-B7A8-F3906E403DD3}?>
   <?define PGSuperSlabBeamFactoryCATID={E1CB1BD3-9F0E-4eb9-839A-E7F0CA689BF0}?>

   <Fragment>
      <!-- PGSuper Beams -->
      <DirectoryRef Id ="APPLICATIONFOLDER"
                    FileSource="$(var.PGSuperSourceRoot)\AutomationDLLs\$(var.PlatformFolder)">
        <Component Id ="PGSuperBeams"
                   Guid="{B7F5AE91-F92F-422f-B7A5-915CBEF845C7}"
                   Win64="$(var.IsWin64)">
          <File Id="PGSuperBeams.dll"      Name="PGSuperBeams.dll"             KeyPath="yes" />

          <!-- Create Beam Factory Component Categories -->

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperIBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperIBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper I-Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperUBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperUBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper U-Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperDeckBulbTeeBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperDeckBulbTeeBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Deck Bulb Tee Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperDeckedSlabBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperDeckedSlabBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Decked Slab Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperBoxBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperBoxBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Box Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperRibbedBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperRibbedBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Ribbed Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperDoubleTeeBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperDoubleTeeBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Double Tee Beam Factories"
                         Type="string" />

          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="Component Categories\$(var.PGSuperSlabBeamFactoryCATID)"/>
          <RegistryValue Root="HKCR"
                         Key="Component Categories\$(var.PGSuperSlabBeamFactoryCATID)"
                         Name="800"
                         Value="PGSuper Slab Beam Factories"
                         Type="string" />

          <!-- Register beam families -->
          <!-- Box Beam Family -->
          <?define PGSuperBoxBeamFamilyCLSID={CE4BA8B3-9AD3-4fa0-8EF0-F0E58D3CF432}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperBoxBeamFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFamilyCLSID)"
                         Value="Box Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- Deck Bulb Tee Family-->
          <?define PGSuperDeckBulbTeeFamilyCLSID={F89E7939-C179-4337-8CC8-BAD7F910B9A6}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDeckBulbTeeFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFamilyCLSID)"
                         Value="Deck Bulb Tee"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- Deck Slab Beam Family -->
          <?define PGSuperDeckSlabBeamFamilyCLSID={BFC403E9-AAF5-4e49-86AB-B537F1C50066}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDeckSlabBeamFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFamilyCLSID)"
                         Value="Decked Slab Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- Double Tee Family -->
          <?define PGSuperDoubleTeeBeamFamilyCLSID={8167A722-A9CD-404f-BEDE-CF57D5305871}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDoubleTeeBeamFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeBeamFamilyCLSID)"
                         Value="Double Tee"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeBeamFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeBeamFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- I-Beam Family-->
          <?define PGSuperIBeamFamilyCLSID={AB6A4CD6-0F10-4d2f-BB98-4425146B133E}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperIBeamFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFamilyCLSID)"
                         Value="I-Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- Ribbed Girder Family -->
          <?define PGSuperRibbedGirderFamilyCLSID={FACA64B5-C2E6-4335-89E2-F488D1B271BD}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperRibbedGirderFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFamilyCLSID)"
                         Value="Ribbed Girder"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- U-Beam Family -->
          <?define PGSuperUBeamFamilyCLSID={917D405F-8752-4bfc-BF6B-9CE7BC2E4C80}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperUBeamFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperUBeamFamilyCLSID)"
                         Value="U-Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperUBeamFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperUBeamFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />

          <!-- Voided Slab Family -->
          <?define PGSuperVoidedSlabFamilyCLSID={07BDEB00-D913-4c67-8393-61263E065DC6}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperVoidedSlabFamilyCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFamilyCLSID)"
                         Value="Voided Slab"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFamilyCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFamilyCLSID)\Implemented Categories\$(var.PGSuperBeamFamilyCATID)"
                         Value=""
                         Type="string" />


          <!-- Register beam factories -->
          <!-- Box Beam (TxDOT) Factory -->
          <?define PGSuperTxDOTBoxBeamFactoryCLSID={73D5A32E-F747-4fff-8B48-D561A93494AC}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperTxDOTBoxBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTBoxBeamFactoryCLSID)"
                         Value="Box Beam (TxDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTBoxBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTBoxBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperBoxBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Box Beam Factory -->
          <?define PGSuperBoxBeamFactoryCLSID={09D3E8EA-B66F-4d99-8DDE-3F55BBC14D54}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperBoxBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFactoryCLSID)"
                         Value="Box Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperBoxBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperBoxBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Deck Bulb Tee Factory -->
          <?define PGSuperDeckBulbTeeFactoryCLSID={9AA6D6FF-2D05-46db-B3F0-479B182B3193}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDeckBulbTeeFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFactoryCLSID)"
                         Value="Deck Bulb Tee"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckBulbTeeFactoryCLSID)\Implemented Categories\$(var.PGSuperDeckBulbTeeBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Deck Slab Beam Factory -->
          <?define PGSuperDeckSlabBeamFactoryCLSID={9C219793-A1F1-402a-B865-0AA6BD22B0A6}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDeckSlabBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFactoryCLSID)"
                         Value="Decked Slab Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDeckSlabBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperDeckedSlabBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Double Tee Factory -->
          <?define PGSuperDoubleTeeFactoryCLSID={FD766540-C635-43e1-B809-06B837EFA752}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperDoubleTeeFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeFactoryCLSID)"
                         Value="Double Tee"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperDoubleTeeFactoryCLSID)\Implemented Categories\$(var.PGSuperDoubleTeeBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- I-Beam Factory -->
          <?define PGSuperIBeamFactoryCLSID={30962206-2412-4001-AA20-CF359BC60142}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperIBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFactoryCLSID)"
                         Value="Precast I-Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperIBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperIBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Double Tee Factory (WSDOT) -->
          <?define PGSuperWSDOTDoubleTeeFactoryCLSID={71AF6935-2501-4fb7-8FA3-7DDB505D5C63}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperWSDOTDoubleTeeFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTDoubleTeeFactoryCLSID)"
                         Value="Double Tee (WSDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTDoubleTeeFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTDoubleTeeFactoryCLSID)\Implemented Categories\$(var.PGSuperDoubleTeeBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Ribbed Girder Factory -->
          <?define PGSuperRibbedGirderFactoryCLSID={0CE7D624-7CC5-4300-8257-0C41A585852F}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperRibbedGirderFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFactoryCLSID)"
                         Value="Ribbed Girder"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperRibbedGirderFactoryCLSID)\Implemented Categories\$(var.PGSuperRibbedBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- NU Girder Factory -->
          <?define PGSuperNUGirderFactoryCLSID={F1504E79-8810-4b5c-9797-BCE6C1022C4C}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperNUGirderFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperNUGirderFactoryCLSID)"
                         Value="Nebraska NU Girder"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperNUGirderFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperNUGirderFactoryCLSID)\Implemented Categories\$(var.PGSuperIBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Tapered I-Beam Factory -->
          <?define PGSuperTaperedIBeamFactoryCLSID={64E8DD89-EC9E-48dd-B4E9-A457F6BFB9B1}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperTaperedIBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTaperedIBeamFactoryCLSID)"
                         Value="Tapered I-Beam"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTaperedIBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTaperedIBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperIBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Double Tee Factory (TxDOT) -->
          <?define PGSuperTxDOTDoubleTeeFactoryCLSID={AC828108-B982-4C95-867B-B4BF4E37B7EB}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperTxDOTDoubleTeeFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTDoubleTeeFactoryCLSID)"
                         Value="Double Tee (TxDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTDoubleTeeFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTDoubleTeeFactoryCLSID)\Implemented Categories\$(var.PGSuperDoubleTeeBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- U-Beam Factory (TxDOT) -->
          <?define PGSuperTxDOTUBeamFactoryCLSID={C28FA58A-3D4D-4df1-8021-2A0BBA90F304}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperTxDOTUBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTUBeamFactoryCLSID)"
                         Value="Precast U-Beam (TXDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTUBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperTxDOTUBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperUBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- U-Beam Factory (WSDOT) -->
          <?define PGSuperWSDOTUBeamFactoryCLSID={F008218C-B19B-49A0-9084-253A09D4EA5A}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperWSDOTUBeamFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTUBeamFactoryCLSID)"
                         Value="Precast U-Beam (WSDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTUBeamFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTUBeamFactoryCLSID)\Implemented Categories\$(var.PGSuperUBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Voided Slab Factory -->
          <?define PGSuperVoidedSlabFactoryCLSID={63C3AE0C-ADD3-44f7-AC22-16303D00E303}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperVoidedSlabFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFactoryCLSID)"
                         Value="Voided Slab"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperVoidedSlabFactoryCLSID)\Implemented Categories\$(var.PGSuperSlabBeamFactoryCATID)"
                         Value=""
                         Type="string" />

          <!-- Voided Slab Factory (WSDOT) -->
          <?define PGSuperWSDOTVoidedSlabFactoryCLSID={A9FC0D19-F6A4-4a9d-835B-FEE2E42F574C}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.PGSuperWSDOTVoidedSlabFactoryCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTVoidedSlabFactoryCLSID)"
                         Value="Voided Slab (WSDOT)"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTVoidedSlabFactoryCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.PGSuperWSDOTVoidedSlabFactoryCLSID)\Implemented Categories\$(var.PGSuperSlabBeamFactoryCATID)"
                         Value=""
                         Type="string" />


           <!-- Other COM classes -->
            <!-- Strand Mover -->
            <?define PGSuperStrandMoverCLSID={59BAD0A2-91F0-4E8A-8A90-4241787E9B50}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSuperStrandMoverCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperStrandMoverCLSID)"
                           Value="StrandMoverImpl Class"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperStrandMoverCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                           Type="string" />

            <!-- PS Beam Loss Engineer -->
            <?define PGSuperPSLossEngineerCLSID={959A33E0-E1FA-4932-AD3F-5FE259DB3E9A}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSuperPSLossEngineerCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperPSLossEngineerCLSID)"
                           Value="PS Beam Loss Engineer"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperPSLossEngineerCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                           Type="string" />
         </Component>

        <!-- Live Load Distribution Factor Engineers -->
        <Component Id ="LLDFEngineers"
                   Guid="{3A28E1AA-5BE0-4a8f-99A0-53F6F3938A51}"
                   Win64="$(var.IsWin64)">

          <?define IBeamDistFactorEngineerCLSID={3AC40380-8764-4087-BD7C-47A50A369AE6}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.IBeamDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.IBeamDistFactorEngineerCLSID)"
                         Value="IBeam Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.IBeamDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />


          <?define BoxBeamDistFactorEngineerCLSID={E5597CC7-8499-4dbd-9FB4-3E7C529F2C3B}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.BoxBeamDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.BoxBeamDistFactorEngineerCLSID)"
                         Value="Box Beam Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.BoxBeamDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />


          <?define BulbTeeDistFactorEngineerCLSID={DA437468-B32C-4012-8B8E-51BAE278C170}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.BulbTeeDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.BulbTeeDistFactorEngineerCLSID)"
                         Value="Bulb Tee Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.BulbTeeDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />

          <?define MultiWebDistFactorEngineerCLSID={5F9F0F5B-0BCE-4aad-B2A6-47FC36BB331A}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.MultiWebDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.MultiWebDistFactorEngineerCLSID)"
                         Value="MultiWeb Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.MultiWebDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />

          <?define UBeamDistFactorEngineerCLSID={41AB468B-C89F-4153-96FC-A37E18A33C68}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.UBeamDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.UBeamDistFactorEngineerCLSID)"
                         Value="U Beam Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.UBeamDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />

          <?define VoidedSlabDistFactorEngineerCLSID={F8E32DC6-9B2F-45fa-8C67-E9788DD48BAC}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.VoidedSlabDistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.VoidedSlabDistFactorEngineerCLSID)"
                         Value="Voided Slab Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.VoidedSlabDistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />

          <?define VoidedSlab2DistFactorEngineerCLSID={43BA23FE-C697-4277-A1C0-943E6E9DFBF9}?>
          <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                       Root="HKCR"
                       Key ="CLSID\$(var.VoidedSlab2DistFactorEngineerCLSID)"/>
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.VoidedSlab2DistFactorEngineerCLSID)"
                         Value="Voided Slab Distribution Factor Engineer"
                         Type="string" />
          <RegistryValue Root="HKCR"
                         Key="CLSID\$(var.VoidedSlab2DistFactorEngineerCLSID)\InprocServer32"
                         Value="[APPLICATIONFOLDER]PGSuperBeams.dll"
                         Type="string" />
        </Component>

      </DirectoryRef>
   </Fragment>
</Wix>